aadict==0.2.3
asset==0.6.13
blinker==1.4
bulrush==0.3.2
docutils==0.16
feedgenerator==1.9.1
ghp-import==0.5.5
globre==0.1.5
htmlmin==0.1.12
importlib-metadata==1.6.0
Jinja2==2.11.2
joblib==0.15.1
latexcodec==2.0.0
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
pelican==4.2.0
pelican-extended-sitemap==1.2.3
pelican-minify==0.9
pelican-youtube==0.2.0
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
Unidecode==1.1.1
webassets==2.0
yuicompressor==2.4.8
zipp==3.1.0
